@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <br />
    <h3><strong>Aplicación ASP .NET del Master MIW</strong></h3>
    <br />
    <p>Esta página web es el resultado de la práctica en .NET, que consistió en desarrollar una tienda virtual de libros.</p>
    <p>Se ha implementado un sistema de acceso basado en roles que muestra diferentes secciones de la aplicación, permitiendo a cada usuario realizar operaciones específicas.</p>
    <br />
    <h5><strong>Tipos de usuario:</strong></h5>
    <br />
    <p><strong>Usuario no autenticado:</strong> Puede ver la página de inicio, iniciar sesión o registrarse, y consultar únicamente la lista de productos.</p>
    <p><strong>Usuario con rol User:</strong> Además de las funciones anteriores, puede realizar pedidos agregando productos al carrito, visualizar su carrito de compras y revisar los detalles completos de sus pedidos.</p>
    <p><strong>Usuario con rol Admin:</strong> Se encarga de la gestión de productos y de monitorear las alertas de stock generadas cuando la cantidad disponible de un producto es inferior a 2 unidades, además de revisar los pedidos de todos los usuarios con sus detalles.</p>
</main>
<br />
