@{
    ViewBag.Title = "Developer";
}
<main aria-labelledby="title">
    <br />
    <h3><strong>Luis Segundo Castillo Elera</strong></h3>
    <br />
    <p><strong>Correo institucional: </strong>luis.castillo.elera@alumnos.upm.es</p>
    <br />
    <p><strong>Ciclo: </strong>2024-2025</p>
</main>
<br />