@{
    ViewBag.Title = "Home Page";
}

<main>
    <br />
    <section class="row" aria-labelledby="aspnetTitle">
        <br />
        <h1 id="title"><strong>Practica .NET Tienda Virtual - Libros</strong></h1>
    </section>
    <br />
    <div class="row">
        <section class="col-md-4" aria-labelledby="generalInfo">
            <h2 id="generalInfo">Información general</h2>
            <p>Esta práctica se basa en una aplicación web ASP.NET MVC de una tienda virtual de gestión de libros.</p>
            <img src="~/Content/Images/AspLogo.png" alt="Logo ASP.NET" class="img-fluid" style="width: 82%; height: 200px;" />
        </section>
        <section class="col-md-4" aria-labelledby="productInfo">
            <h2 id="productBookInfo">Productos de Libros</h2>
            <p>Se ofrece la opción de gestión de libros , alerta de stocks de los libros y  realización de pedidos.</p>
            <img src="~/Content/Images/shopping-cart.png" alt="Logo ASP.NET" class="img-fluid" style="width: 50%; height: 200px;" />
        </section>
        <section class="col-md-4" aria-labelledby="userInfo">
            <h2 id="userInfo">Usuarios</h2>
            <p>Los usuarios están dividios en roles que dividen las funcionalidades de cada uno en base a ellos.</p>
            <img src="~/Content/Images/group.png" alt="Logo ASP.NET" class="img-fluid" style="width: 50%; height: 200px;" />
        </section>
    </div>
</main>
<br />